#form-container{
	height: 100%;
}

form{
	height: 100%;
}

.input-textarea{
	width: 80%;
	height: 43%;
	margin-top: 2.5em;
	padding: 1em;
	margin-left: 10%;
}

#example-list{
	text-align: center; 
	text-decoration: underline; 
	color: blue;
}

#example-list:hover{
	cursor: pointer;
}

input, button{
	width: 10%;
	margin-left: 45%;
	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #99ccff;
	font-weight: bold;
	text-shadow: 1px 1px #99ccff;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #99ccff;
	cursor: pointer;
	margin-top: 1em;
}

input, button:hover{
	background-color: #66b3ff;
}