.side-text-container{
	border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    width: 30vw;
    float: right;
    margin-right: 4vw;
}

.article-info-container{
	margin-bottom: 0.5em;
	border-bottom: solid 1px;
	padding-bottom: 0.5em;
}

.article-info-container p{
	margin-top: 5px;
}

#related-articles-container{
	margin-bottom: 1em;
	text-align: center;	
}

#related-articles-container h1{
	margin-top: 0;
	margin-bottom: 1em;
}

#related-articles-not-downloaded-container{
	display: none;
}

#related-articles-loader{
	display: none;
}