<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	</head>

	<body>

		{% include 'navigation.html' %}

		<p style='margin: 10px'>An article or a speech is considered <i>biased</i> whenever the speaker uses an excessive amount of emotionally loaded words or in case the topics discussed are specific to one end of the political spectrum (for example, an article about migrants and crime is more likely to be right-biased, while an article about climate change and abortion rights is more likely to be left-biased).</p>

		<p style='margin: 10px'>The predictor used in this system was trained using a dataset of 150k articles labeled as left/right biased or unbiased. The labelling was performed using the ratings given by <a href="https://mediabiasfactcheck.com/">Media Bias Fact Check</a>.</p>

	</body>

</html>
