<!DOCTYPE html>
<html lang="en-US">

	<body>

		{% include 'navigation.html' %}

		<p style='margin: 10px'>An article or a speech is considered <i>leaning left</i> if the topics addressed, as well as the chosen words are more similar to those used in liberal environments.</p>

		<p style='margin: 10px'>The predictor used in this system was trained using a dataset of 1.6k articles from US newspapers, each labeled as favoring Democrats or Republicans. The labelling was performed through crowdsourcing and is explained in <a href="https://deepblue.lib.umich.edu/data/concern/data_sets/8w32r569d?locale=en">this paper</a>.</p>

	</body>

</html>