<div class = "side-text-container" id="info-container">
				
	<div id="selected-sentence-container"></div>
	<br>
	<div id="related-articles-container"></div>
	<div id="related-articles-not-downloaded-container">
		<p>You might want to take a look at these articles as well (unfortunately we weren't able to download them):</p>
	</div>
	<div id="related-articles-loader">
		<p class="loader-text" style="text-align: center"></p>
		<br>
		<div class="loader" style="display: block; margin-top: 0;"></div>
	</div>

</div>