<div class = "side-text-container" id="info-container">
	
	<p>Sentences that we believe are claims are <span style="background-color: rgb(0,255,0)">highlighted in green<span></p>
	<p>Click on one of the sentences to search online for evidence that supports or refutes it</p>
	<br>
	<p id="no-selected-sentence-info">You haven't selected any sentence yet. Try to click on one to check whether we believe it's a claim or not.</p>
	<div id="selected-sentence-container"></div>
	<br>
	<div id="related-articles-container"></div>
	<div id="related-articles-not-downloaded-container">
		<p>You might want to take a look at these articles as well (unfortunately we weren't able to download them):</p>
	</div>
	<div id="related-articles-loader">
		<p class="loader-text" style="text-align: center"></p>
		<br>
		<div class="loader" style="display: block; margin-top: 0;"></div>
	</div>

</div>
